*{
    box-sizing: border-box;
}

header{
    display:flex;
    align-items:center;
    gap:1rem;
    background-color:#dccfba;
}

header img{
    width:200px;
    height:200px;
}

main{
    display:flex;
    gap:1rem;
}

main section{
    flex:1;
    border:1px solid green;
}

section h2{
    background-color:#28502e;
    color:white;
    text-align:center;
    margin:0;
}

section li span{
    font-weight:bold;
}

footer{
    display:flex;
}
